

<div class="login">
    <div class="login-screen">
        <div class="login-icon">
            <img src="/assets/images/login/icon.png" alt="{{ 'leboncoin.register.create.alert.alt'|trans }}">
            <h4>{{ 'leboncoin.register.create.alert'|trans|raw }}</h4>
        </div>

        <div id="success" class='login-form'>

            <h3>{{ 'leboncoin.remove.success.title'|trans }}</h3>
            <p style="margin-top: 1em">
                {{ 'leboncoin.remove.success.message'|trans }}
                <br />

            </p>


        </div>


    </div>
</div>


